@import "../theme.css";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    width: 100%;

    padding: 1rem;
    font-size: 1.2rem;

    background-color: var(--surface);
    border-bottom: 1px solid var(--border);
}

.navbar-tabs {
    display: flex;
    gap: 40px;
}

.navbar a {
    text-decoration: none;
    color: var(--text);

    position: relative;

    font-weight: 500;
    font-size: 1rem;

    transition: color 0.2s ease;
}

.navbar a:hover {
    color: var(--primary-500);
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;

    width: 100%;
    height: 2px;

    background-color: var(--primary-500);

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease;
}

.navbar a:hover::after, .navbar a.active::after  {
    transform: scaleX(1);
}

.navbar a.active {
    color: var(--primary-500);
    font-weight: 600;
}

.navbar a:focus-visible {
    outline: 2px solid var(--primary-400);
    outline-offset: 2px;
}

.navbar-options {
    display: flex;
    gap: 5px;
}

.navbar-mobile {
    display: none;
    position: relative;
}

.navbar-mobile-menu {
    position: absolute;
    top: calc(100% + 7px);
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: .75rem;

    min-width: 180px;

    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: 12px;

    box-shadow: 0 8px 20px rgba(0,0,0,.2);

    z-index: 9999;

    animation: dropdown 0.15s ease;
}

.navbar-mobile-menu a {
    padding: .6rem .8rem;
    border-radius: 8px;
    text-decoration: none;
    color: var(--text);
}

.navbar-mobile-menu a:hover,
.navbar-mobile-menu a.active {
    background: var(--primary-600);
    color: white;
}

@keyframes dropdpwm {
    
    from {
        opacity: 0;
        transform: translateY(-6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 769px) {
    
    .navbar-tabs {
        gap: 0.9rem
    }

    .navbar a {
        font-size: 1rem;
    }

    .ghost-nav {
        display: none;
    }
}



@media (max-width: 468px) {
    
    .navbar {
        justify-content: space-between;
        padding: 0.5rem;
    }

    .navbar-tabs {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navbar a::after {
        display: none;
    }

    .navbar-mobile-title {
        font-size: 1.3rem;
    }
}