.pagination {
    display: grid;
    grid-template-columns: 80px auto 80px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    gap: 10px;
}

.page-button,
.pages-container button {
    background-color: var(--primary-600);
    color: var(--text-secondary);
    font-size: 1rem;
    padding: 6px 10px;
    border: 1px solid var(--border-light);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.page-button {
    width: 100%;

}

.page-button:hover, .pages-container button:hover {
    transform: translateY(-2px);
    background-color: var(--primary-700);

}

.page-button.previous {
    justify-self: start;
}

.pages-container {
    display: flex;
    gap: 8px;
    justify-self: center;
}

.page-button.next {
    justify-self: end;
}